# Ignore model files (if stored in output or models folder)
output/
models/

# Ignore Rasa runtime folder
.rasa/

# Ignore virtual environments (if you are using one)
venv/
env/

# Ignore temporary or cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.idea/
.vscode/

# Ignore Rasa logs
logs/

# Ignore other common files that should not be pushed to a repository
*.db
*.sqlite3
*.log
*.bak
*.swp
